
#titulo {
    color: white;
    text-align: center;
    font-family: AriaL;
    font-size: 75px;
    margin:0;
}


/*@import url('https://fonts.googleapis.com/css?family=Lato:700|Rammetto+One');*/

/*
 NO TOCAR START
*/
* {
    box-sizing: border-box;
}

/*Definimos la fuente del nav*/
@font-face{
    font-family: fontNav;
    src: url(../fonts/code.otf);
}

/*Ajustes Generales*/
html{
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/*Ajustes Generales*/
body{
    background-image: url(../images/Proyectos/HomeBG.jpg);
    background-color: black;        
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    width: 100%;
    height: 100%;
}

/*CSS Nav (solo div)*/
nav{
    position: fixed;
    width: 100%;
    height: 5%;
    margin: 0%;

    display: flex;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));

    z-index: 15;
}

/*Ajustes conjunto links, sigue en #Menu*/
ul{
    display: block;
}

/*Ajustes links*/
a{
    text-decoration: none;
    color: white;
    opacity: .5;
}

a:hover{
    text-decoration: none;
    color: white;
    opacity: 1;
    font-size: 26px;
}

#locked{

    color: #ff96ed;
}

#locked:hover{

    color: #ff96ed;
    opacity: .5;
    font-size: 25px;

}

p{
    margin:0;
}

/*
 NO TOCAR FIN
*/

main{
    top: 0px;
    left: 0px;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
}

#Menu{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 40%;

    list-style-type: none;
    font-size: 25px;
    color: white;
    font-family: fontNav;

}

#imagenA-txt{
    position:absolute;
    left:0;
    top:0;
    z-index:2;

    overflow: hidden;
    width: 100%;

    user-select: none;
    pointer-events: none;
}

#txt1{
    text-align: left;
    font-size: 114px;

    color: white;
    text-shadow: 0px 0px 10px #ff96ed;

    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 130px;
    font-family: AriaL;

    visibility: hidden;
}

#txt2{
    text-align: center;
    font-size: 150px;
    color: white;
    text-shadow: 0px 0px 20px #ff96ed;
    margin: 0;
    font-family: fontNav;
}

#contenedorImagen{
    z-index:1;
    position:relative;
    overflow: hidden;
    
    width: 100%;
    height: 900px;

    display: block;
}


#imagenA{

    position:absolute;
    left:0;
    top:0;

    overflow: hidden; 
    -webkit-filter: blur(3px);
    transition: all .5s ease-in-out;

}

#imagenA:hover{
    overflow: hidden;
    -webkit-transform: scale(1.05);
    -webkit-filter: blur(0px);

}



#separador{
    background-color: black;
    width: 100%;
    height: 50px;
    -webkit-filter: blur(2px);
}

h2{
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-family: fontNav;

}



#imagenB{
    -webkit-filter: blur(3px);
    position: relative;
    top: -780px;
}

#imagen2{
    overflow: hidden;   

    width: 100%;
    height: 50px;
}

p{
    
    color: white;
    font-size: 24px;

}

/*CSS Input de los datos*/
input[type=text], select, textarea{
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: AriaL;
    box-sizing: border-box;
    resize: vertical;
}

/*CSS Etiqueta de los campos*/
label {
    color: white;
    font-family: 'Varela';
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;

    padding: 12px 12px 12px 0;
    display: inline-block;
}

/*CSS Contenedor general*/
.container {
    box-shadow: 0px 0px 2em #42577a;
    border-radius: 5px;
    background-color: #888888;
    padding: 20px;
    width: 40%;
    margin: auto;
}

/*CSS Formulario campos*/
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/*CSS Formulario rellenar*/
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
/*CSS input tras click*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Colocar boton*/
.center-wrap {
    position: relative;
    top: calc(50% - 50px);
    left: calc(80% - 70px);
    width: 200px;
    height: 50px;
}


/*CSS BOTON START*/

.button {
    position: relative;
    display: block;
    box-shadow: 1px 1px 1px #464646;

    background-color: #42577a;
    background-size: cover;

    border: 2px solid #2e2e2e;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 100px;
    min-width: 200px;

    cursor: pointer;
    overflow: hidden;

    -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);

    /*transicion barra*/
    transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 1.5s cubic-bezier(0.19,1,.22,1);
}

/*CSS del texto (Es un link)*/
.button a {
    color: #262626;
    font-family: 'Varela Round';
    font-weight: 600;
    text-decoration: none;
}


/*CSS color del efecto al PRINCIPIO del hover*/
.button .mask {
    background: rgba(255,255,250,0.3);
}

/*CSS color del efecto y translacion al FINAL del hover*/
.button:hover .mask {
    background: #efefef;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}
.button:hover {
    border-color: white;
    box-shadow: #999999
}

.button:hover a {
    color: white;
}

/*CSS efecto*/
.button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 50px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover .shift {
    padding-left: 0px;
}

/*CSS BOTON END*/